<div class="row">
  <div class="col-lg-12">
		<div class="page-header text-center">
		  <h1>Cheapest Residential Energy Performance Certificates in South London</h1>
		</div>
	</div>
</div>
<p class="lead text-center">PWelcome to Property Certify, we provide the cheapest Energy Performance Certificates for your home in the following areas Bexley, Bromley, Croydon, Greenwich, Lambeth, Lewisham and Southwark.</p>
<div class="row">
  <div class="col-lg-6">
    <h2>Our Fees</h3>
    <p class="text-muted">See why our Fees are the cheapest in South London</p>
    <ul>
    	<li>£35 for Bromley, Greenwich, Lambeth, Lewisham Southwark and Wandsworth</li>
    	<li>£45 for Bexley Croydon, Dartford, Gravesham and Sevenoaks</li>
    	<li>£55 for Ashford, Maidstone, Malling, Medway and Tonbridge</li>
    	<li>£60 for for express EPC (same day if ordered before 1pm</li>
    </ul>
  </div>
  <div class="col-lg-6">
    <h2>Book your EPC Survey now using the form below</h3>
    <p class="text-muted">OUR PROMISE TO YOU</p>
    <ul>
    	<li>Our fees are inclusive of VAT</li>
    	<li>Your details will never be passed to 3rd parties</li>
    	<li>You will receive a confirmation by SMS</li>
    	<li>Our experienced Government Accredited Energy Assessors will always show you ID</li>
    </ul>
  </div>
<div>
<div class="row">
  <div class="col-sm-12">
    <%= simple_form_for(@contact, :url => "/property_info", :method => "post") do |f| %>
    <%= render 'shared/flash_messages' if !flash.empty? %>
      <% if @contact.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this applicant from being saved:</h2>

          <ul>
          <% @contact.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-md-2"><%= f.label :when %></div>
          <div class="col-md-10">
            <%= f.text_field(:when) %>
          </div>
        </div>
      </div>
      <br/>
      <br/>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-12">
            <label class="ss-q-title" for="time">Select Your Preferred Time</label>
            <div class="com-md-2"></div>
            <div class="col-md-10 col-md-offset-2">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="8am to 10am" name= "contact[time]">
                  8 to 10am
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="10am to 12pm" name= "contact[time]">
                  10am to 12pm
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"  value="12pm to 2pm" name= "contact[time]">
                  12pm to 2pm
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="2pm to 4pm" name= "contact[time]">
                  2pm to 4pm
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="12pm to 2pm" name= "contact[time]">
                  12pm to 2pm
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="4pm to 6pm" name= "contact[time]">
                  4pm to 6pm
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="12pm to 2pm" name= "contact[time]">
                  12pm to 2pm
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="6pm to 8pm" name= "contact[time]">
                  6pm to 8pm
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-md-2"><%= f.label :address %></div>
          <div class="col-md-10"><%= f.text_area :address %></div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-md-2"><%= f.label :name %></div>
          <div class="col-md-10"><%= f.text_field :name %></div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-md-2"><%= f.label :email %></div>
          <div class="col-md-10"><%= f.text_field :email %></div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-md-2"><%= f.label :phone_number %></div>
          <div class="col-md-10"><%= f.text_field :phone_number %></div>
        </div>
      </div>
      <br/>
      <div style="background-color: black; margin-left: 0px; margin-right: 0px;" class="form-group">
        <div class="col-md-offset-2 col-sm-10">
          <%= f.submit  "Submit", :class => "btn btn-success" %>
        </div>
      </div>
    <% end %>
    <div class="col-md-offset-2 col-sm-10">
      <div class="password-warning">Never submit passwords through Google Forms.</div>
      <div class="ss-footer"><div class="ss-attribution"></div>
      <div class="ss-legal"><span class="ss-powered-by">Powered by <a href="http://docs.google.com">Google Docs</a></span>
      <span class="ss-terms"><small><a href="https://spreadsheets.google.com/spreadsheet/reportabuse?pli=1&amp;hl=en_GB&amp;bc=transparent&amp;f=Arial%252C%2BVerdana%252C%2Bsans-serif&amp;hl=en_GB&amp;htc=%2523666666&amp;key=0AsXMMvBKGqckdDJsend5cW94SkVQeFRtSWVFVWh2blE&amp;lc=%2523336699&amp;pli=1&amp;tc=%2523333333&amp;ttl=0&amp;source=https://spreadsheets.google.com/spreadsheet/embeddedform?bc%3Dtransparent%26f%3DArial%25252C%252BVerdana%25252C%252Bsans-serif%26hl%3Den_GB%26htc%3D%252523666666%26key%3D0AsXMMvBKGqckdDJsend5cW94SkVQeFRtSWVFVWh2blE%26lc%3D%252523336699%26pli%3D1%26tc%3D%252523333333%26ttl%3D0">Report Abuse</a>
      -
      <a href="http://www.google.com/accounts/TOS">Terms of Service</a>
      -
      <a href="http://www.google.com/google-d-s/terms.html">Additional Terms</a></small></span></div></div></div>
    </div>
  </div>
</div>