<div class="page-header text-center">
  <h1>Property Certify Testimonials<small> What our customers say about us</small></h1>
</div>
<div class="row">
	<div class="col-md-12">
		<%= testimonial('Super fast service, Certificate was emailed to us within a few hours! Wow! Thank you, would definitely recommend to others.', 'Denise H, Bromley') %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= testimonial('Excellent prompt service. I would have no hesitation in recommending Edward to any friends and colleagues', 'Wulston A, Wapping') %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%= testimonial('The Energy Report was completed on time as scheduled by Mr Peck. On his visit to our property to compile the Certificate he was very courteous and considerate. We would not hesitate to recommend Property Certify and Mr Peck for a very efficient and thorough service. We would like to thank you very much for all your help.', 'Barbara P, Greenwich') %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%= testimonial('Excellent service. A delight to deal with, very helpful, friendly and professional. Would highly recommend. Thank you.
', 'Sean J, Beckenham') %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%= testimonial('Very speedy and professional service! Thanks', 'Rachel P, Bromley') %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%= testimonial('Mitchel was very polite and friendly, even towards my 19 month old son. The inspection was done quickly and efficiently. A pleasure to deal with, thank you', 'Catherine M, Surrey Quays') %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%= testimonial('Very pleased with the service received. Always here at the end of the phone to answer any queries we had. Would recommend Property Certify to family and friends.', 'Jane S, Lewisham') %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%= testimonial('Very good service. We would recommend them and very reasonable also', 'Paul P, Bethnal Green') %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%= testimonial('I didn\'t have an in depth knowledge of Inventories before i spoke to Edward but what surprised me after speaking with him was that he also did energy surveys. I decided to have one done on my letted Flat and i\'m glad i did. Edward turned up on time armed with his gadgets and a big smile. He explained everything that he was doing with his laser distance measuring device!. He advised me as he was carrying out the survey on why different materials within my house could or couldn\'t be made more energy efficient. He inspected the loft with his very impressive expendable ladder and explained that i could have new loft insulation put in that would be substantially part-funded by various grants.
The whole process took about 40 minutes and later that day i received an email from him with the fully energy report attached. It was very informative and has prompted me into action to make my house more energy efficient before the winter months arrive', 'Simon A, Dulwich') %>
	</div>
</div>
